name: student-performance-mlflow-ci

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install mlflow scikit-learn pandas numpy dagshub matplotlib seaborn

    - name: Run Training Script (MLflow + DagsHub)
      env:
        MLFLOW_TRACKING_URI: https://dagshub.com/KhalilPradiptaLee/Membangun_model.mlflow
        MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
      run: |
        cd MLProject
        python modelling.py

    - name: Debug MLProject files
      run: |
        ls -la MLProject
        cat MLProject/run_id.txt

    - name: Upload run_id artifact
      uses: actions/upload-artifact@v4
      with:
        name: run-id
        path: MLProject/run_id.txt

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}


    - name: Build Docker image with MLflow
      env:
        MLFLOW_TRACKING_URI: https://dagshub.com/KhalilPradiptaLee/Membangun_model.mlflow
        MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
      run: |
        mlflow models build-docker \
          -m models:/student-performance-model/1 \
          -n ${{ secrets.DOCKERHUB_USERNAME }}/student-performance-mlflow

    - name: Push Docker image to Docker Hub
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/student-performance-mlflow
